<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">
  </head>
  <body ng-app="directoryApp">
    <div class="container">
      <div class="row">
        <h1>UF Directory App</h1>
      </div>
      <div class="row" ng-controller="ListingsController">
        <div class="col-md-6">
          <div class="input-group" id="searchBar">
            <!-- 
                (DONE) Implement a way to filter through listings using the search bar 
              -->
            <span class="input-group-addon" id="sizing-addon1"><span class="glyphicon glyphicon-search"></span></span>
            <input type="text" class="form-control" placeholder="Search" ng-model="searchFilter">
          </div>
          <div class="tableWrapper">
            <table class="table table-striped table-hover">
              <tr>
                <th>Code</th>
                <th>Building Name</th>
                <th></th>
              </tr>
              <!-- 
                  Fill in the rest of the table:
                      * (DONE) populate the rows with the code and name of each listing
                      * (DONE) include a way to remove individual listings
                --> 
              <tr class="building" ng-repeat="listing in listings | filter: searchFilter" ng-click="showDetails(listings.indexOf(listing))">
                <td>{{listing.code}}</td>
                <td>{{listing.name}}</td>
                <td><button class="button1" ng-click="deleteListing(listings.indexOf(listing))">Delete</button></td>
              </tr>
            </table>
          </div>
          <!-- 
              (DONE) Write an HTML form that adds new listings to the directory 
            -->
          <br>
          <div class="addForm">
            <h3 class="h3" align="center"><u>Add New Building</u></h3>
            <br>
              <table class="new_building">
                <tr><td align="right"><b>Code:</b></td>
                  <td><input type="text" name="new_code" ng-model="new_code" placeholder="ex. NAL"></td></tr>
                <tr><td align="right"><b>Building Name:</b></td>
                  <td><input type="text" name="new_name" ng-model="new_name" placeholder="ex. Nalwort"></td></tr>
                <tr><td align="right"><b>Latitude:</b></td>  <td><input type="text" name="new_lat" ng-model="new_lat" placeholder="ex. 14"></td>
                    <td align="right"><b>Longitude:</b></td> <td><input type="text" name="new_long" ng-model="new_long" placeholder="ex. 42"></td></tr>
                <tr><td align="right"><b>Address:</b></td>   <td><input type="text" name="new_address" ng-model="new_address">
                    </td></tr>         
              </table>
              <br>
              <button class="button2" ng-click="addListing()">Submit</button>
            
          </div>
        </div>
        <div class="col-md-6">
          <div class="jumbotron">
            <h2><u>Detailed Information</u></h2>
            <!-- 
              Include a way to display detailed information about an individual listing:
                   *  (DONE) consider how to use ng-click within the the table to implement this feature
             -->
            <div class="details">
              <table class="table-striped">
                <tr><td><b>Code:</b></td>                     <td>{{detailedInfo.code}}</td></tr>
                <tr><td><b>Building Name:</b></td>            <td>{{detailedInfo.name}}</td></tr>
                <tr><td><b>(Lat, Long):</b></td>              <td>{{latLong}}</td></tr>
                <tr><td><b>Address:</b></td>                  <td>{{detailedInfo.address}}</td></tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
    <script src="https://code.angularjs.org/1.4.3/angular.js"></script>
    <script src="app.js"></script>
    <script src="listingController.js"></script>
    <script src="listingFactory.js"></script>
  </body>
</html>